.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.h1{
    height: 320px;
}
.h2{
    height: 100px;
}
.h3{
    height: 200px;
}
.w1{
    width: 370px;
}
.w2{
    width: 360px;
}
.w3{
    width: 250px;
}
.w4{
    width: 100px;
}
.color1{
    background: #fafafa;
}
.color2{
    background: #d8d8d8;
}
.text{
    text-align: center;
}
.pad-g1{
    box-sizing: border-box;
    padding-top: 40px;
}
.pad-g2{
    box-sizing: border-box;
    padding-top: 90px;
}
.bo-r{
    border: 2px solid black;
    border-radius: 5px;
}
@media screen and (min-width: 0px) and (max-width: 992px) {
    .h4{
        height: 220px;
    }
    .h5{
        height: 50px;
    }
    .h6{
        height: 100px;
    }
    .w5{
        width: 70px;
    }
    .w6{
        width: 60px;
    }
    .pad-g3{
        box-sizing: border-box;
        padding-top: 40px;
    }
    .pad-g4{
        box-sizing: border-box;
        padding-top: 15px;
    }
    .bo-r2{
        border-radius: 5px;
    }
}